@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Montserrat';
}
.container {
  max-width: auto;
}



/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

/*
 * Custom translucent site header
 */




.site-header {
  background-color: #ffffff;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  height: 80px;
}
.site-header a {
  color: #555555;
  transition: color .15s ease-in-out;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  padding: 30px;

}
.site-header a:hover {
  color: #FF6634;
  text-decoration: none;
}
.justify-content-right{
  justify-content: right;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.man-img{
    position: absolute;
    top: 11px;
    right: -120px;
    width: 78%;


}
.rocket-img{
  position: absolute;
  top: 12%;
  right: 7%;
  width: 44%;
  border-radius: 50%;
  z-index: 1;
}
.ml-50{
    margin-left: 50px !important;
}
.ml-6{
    margin-left: 6rem !important;
}


/*
 * Extra utilities
 */

 .transparent-button{
   background:transparent;
   color: #FF6634;
   border: 1px solid #FF6634;
   padding: 13px 35px;

 }
 .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.banner{
  z-index: 9999999999999999999999999;
  position: relative;
}
.transparent-button:hover, button:hover{
  transition: background-color 0.5s ease;
  background-color: #1F2131;
  color: #fff;
  border-color: #1F2131;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
 .bg-lilac{
   background: #FFEBFF;
 }
 .bg-banner{
  height: 670px;
 }
 #undertone-svg{
    position: absolute;
    top: 0px;
    right: 0px;
 }
 .biz-card{
   /* Rectangle 7 */
  background: #FFFFFF;
  /* shadow */
  box-shadow: 0px 4px 11px 5px rgba(239, 239, 239, 0.25);
  border-radius: 4px;
 }
 .theme-color{
   color: #FF6634;
   text-decoration: none;
 }
 .header-biz{
    width: 80px;
    text-align: center;
    height: 80px;
    padding: 3px;
    z-index: 999;
    box-shadow: 0px 4px 11px 5px rgba(239, 239, 239, 0.25);

 }
 .header-biz p{
  font-size: 9px;
  color: #6C6C6C;
  margin: 0px;
 }
  .header-biz h2{
  font-size: 29px;
  line-height: 35px;
  margin: 0px;
  font-weight: 900;
 }
.height-auto{
    width: 60px;
    text-align: center;
    height: auto;
    padding: 6px;
    position: absolute;
    top: 23%;
    right: 40%;

}
.newsletter-section{
  padding: 99px 30px;
}
.ml-75{
  margin-left: 75px;
}
.logos{
  margin: 20px;
}
.logos:hover{
  background-color: white;
  box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 4%) !important;
  transition: background-color 0.5s ease-in-out;

}
.safe-container{
    position: relative;
}
.bg-off-white{
  background-color: #FEFEFE;
}
.well{
  border: 1px solid #D6D6D6;
    color: #C2C2C2;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 149px 40px;

}
.safe-container span{
      position: absolute;
    top: 40%;
    font-size: 10px;
    left: 32%;

}
 .biz-15k{
    position: absolute;
    top: 30%;
    right: 6%;
    

 }
.banner .text{
  font-weight: 900 !important;
    color: #303030;
    font-size: 40px;
}
.banner .sub-text{
  font-size: 16px;
  color: #747474;
  font-weight: 400;
  line-height: 19.5px;

}
.card-company{
  font-weight: 600;
  font-size: 10px;
  margin-top: 19px;
  line-height: 12.19px;
}
.p-lg-5 {
  padding: 3rem 3.2rem!important;
}
.blockquote-container{
  margin-left: 50px;
}

button{
  background: #FF6634;
  padding: 37px;
  color: #fff;
  border-radius: 4px;
  padding: 17px 25px;
  margin: 7px;
  border: #FF6634;
  cursor: pointer;
}

/* 
/*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */

.search-wrapper {
   background: white;
    border-radius: 6px;
  margin-top: 20px;
}

/* Form text input */

.search-wrapper input {
    padding: 23px 17px;
    float: left;
    border: 0;
    border-radius: 6px;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #DEDEDE;
  font-size: 17px;
}

.search-wrapper input:-moz-placeholder {
   color: #DEDEDE;
  font-size: 17px;
}

.search-wrapper input:-ms-input-placeholder {
   color: #DEDEDE;
  padding-left: 20px;
  font-size: 17px;
}   
.newsletter input{
  width: 70%;
  padding: 23px 17px;
    float: left;
    border: 0;
    border-radius: 6px;
    background: #fff;
    border-top-style: none;
}

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    cursor: pointer;
}  

main p{
  color: #8D8D8D;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.get-started{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
}
.border-bottom{
  border-bottom: 1px solid #F4F4F4 !important;
}
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   

.biz-card img{
  height: 43px;
  width: 43px;

}
.biz-card.client span,.biz-card.client p{
  font-size: 11px;
  line-height: 13px;
}
.stars{
  padding: 10px;
}
.section-header{
  color: #303030;
  font-size: 29px;
  line-height: 35px;
  font-weight: 800;
}
.biz-card.header-testimonial{
  width: 263px;
  text-align: left;
  padding: 9px 20px;
  right: 35%;
  position: absolute;
  bottom: 9%;
  z-index: 999;
}
.biz-card.card{
  width: 290px;
  text-align: left;
  z-index: 999;
  background: #FFFFFF;
  border: 1px solid #FBFBFB;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  cursor: pointer;
  z-index: 9999;
}
.biz-card.card:hover{
  box-shadow: 0px 5px 10px 2px rgb(250 107 59 / 6%);
}
.card.card-body, .card.card-footer{
  padding: 9px 20px;
}
.card .badge{
  background: #FF66340D;
  color: #FF6634;
  border-radius: 6px;
}
.float-right{
  float: right;
  margin: 5px;
}
.card-footer{
  border: navajowhite;
  margin: 0px;
  padding: 0px;

}
.reviews-row{
  margin-bottom: 40px;

}
#review-section{
  padding: 70px 40px;
}

.control-circles{
  display: inherit;
  text-align: center;
}
.control-circles svg{
  width: auto;
  cursor: pointer;
}
.control-circles .circle{
  height: 26px;
  margin-right: 11px;
  width: 4px;
  border: 1px solid #8A8A8A;
  border-radius: 50%;

}
.p-82{
  padding: 82px !important;
}
.control-circles .circle.fill{
  background: #8A8A8A;
}
.spec-padding{
    padding-right: 2rem!important;
    padding-left: 3px !important;
}
.row.soft-bg{
  background-image: url(assets/img/Rectangle39.png);
  background-position: right;
  background-repeat: no-repeat;
}
.spec-auto{
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 100px;
  margin-top: 100px;

}
.flex-equal > * {
  flex: 1;
}
footer{
  background-color: #1F2131;
  color: #FFFFFF;
  padding: 100px 100px 30px 100px;
  margin-top: 70px;


}
footer li a, footer p{
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: .6;
  line-height: 145.8%;

}
footer li{
  margin-bottom: 10px;
}
footer li a{
  color: #ffffff !important;
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 22px;
opacity: .6;
}
footer li a:hover{
  opacity: 1;
}
span .social-media{

  height: auto;
  width: auto;
  padding: 20px;
border-radius: 50%;

border: 1px solid #393C4D;
box-sizing: border-box;
}
span .social-media:hover{
  background-color: #fa6634;
  transition: background-color 0.5s ease;

}

.pl-30{
  padding: 30px;
}
p.blockquote{
  color: #8D8D8D;
  font-size: 14px;
  padding-left: 35px;
  margin: 0px;

}


@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

@media(max-width: 700px){
  footer{
    padding: 27px !important;
  }
  .ml-75 {
    margin-left: 0px;
  }
  #review-section .col-lg-10{
    margin-left: 20px;
  }
  .man-img, .biz-card, .rocket-img{
    display: none;
  }
  #review-section .biz-card.client{
    display: block !important;
    margin-bottom: 25px;
  }
  #undertone-svg{
    opacity: .2;
  }
  .p-lg-5 {
    padding: 0px !important;
  }
  .ml-50 {
    margin-left: 20px !important;
  }
  .logos{
    text-align: center;
  }
  .spec-auto {
    width: 90%;
    margin-left: 30px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .pl-30 {
    padding: 30px 10px;
  }
}
/* .header-biz,.biz-card.header-testimonial{
  box-shadow: 0px 4pxs 11px 5px rgb(48 48 48 / 22%);

} */


